.clock-number {
  position: absolute;
  width: 20px; 
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px; 
  font-weight: bold;
  transform-origin: center center;
  color: black;
}

.clock {
  position: relative;
  width: 180px; 
  height: 180px;
  border: 4px solid black;
  border-radius: 50%;
  margin: 0 auto;
  justify-content: center;
}

.hand {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform-origin: 0% 40%;
  padding: 1px;
}

.hand.hour {
  height: 4px;
  width: 25%;
}

.hand.minute {
  height: 2px;
  width: 41%;
}

.hand.second {
  background-color: red;
  width: 46%;
}

.App {
  text-align: center;
}

.clocks {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}